<% include ./partials/header %> 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style = "background-color: #fff !important;">
    <li class="breadcrumb-item active" aria-current="page">Profile:  <%= currentUser.username %></li><% if(currentUser.username === "admin") {%><a href="/admin">  (Move to Admin Control Panel)</a><%}%>
  </ol>
</nav>

<h5 style="margin-left: 37px;">Created Snippets</h5>
<ol style="list-style: none;">
 	<% var categories = ['Javascript', 'CSS', 'HTML', 'Other']; %>
 	<% categories.forEach(function(category) { %>
 		<br>
 		<span ><%= category %></span>
 		<% snippets.forEach(function(snippet){ %>
 			<% if(snippet.category === category) { %>
 			<li>
                   <a href="/snippets/<%= snippet._id %>"><%= snippet.title %></a>
                   <span><%= snippet.main %></span>
               </li>
            <br>
            <% } %>
               
    	<% }); %>
 	<% }); %>
    
 </ol>
 <br>
 <h5>Favorited Snippets</h5>
 <em>Under construction</em>
<% include ./partials/footer %> 
